# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('./data/song_data/')

In [5]:
song_files[0]

'/home/workspace/data/song_data/A/A/A/TRAAAAW128F429D538.json'

In [6]:
filepath = song_files[0]

In [7]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

In [8]:
len('SOMZWCG12A8C13C480')

18

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [9]:
# insert song record
song_datas = df.filter(items=['song_id', 'title', 'artist_id', 'year', 'duration']).values
print(song_datas)
song_data = song_datas.tolist()

[['SOMZWCG12A8C13C480' "I Didn't Mean To" 'ARD7TVE1187B99BFB1' 0 218.93179]]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [10]:
song_files = get_files('./data/song_data/')
for file in song_files:
    #print(file)
    df = pd.read_json(file, lines=True)
    song_datas = df.filter(items=['song_id', 'title', 'artist_id', 'year', 'duration']).values
    song_data = song_datas.tolist()
    for song_data in song_datas:
        try:
            cur.execute(song_table_insert, song_data)
            print(song_data)
        except Exception as e:
            print (e.pgerror)

['SOMZWCG12A8C13C480' "I Didn't Mean To" 'ARD7TVE1187B99BFB1' 0 218.93179]
['SOUDSGM12AC9618304' 'Insatiable (Instrumental Version)'
 'ARNTLGG11E2835DDB9' 0 266.39628]
['SOIAZJW12AB01853F1' 'Pink World' 'AR8ZCNI1187B9A069B' 1984 269.81832]
['SOHKNRJ12A6701D1F8' 'Drop of Rain' 'AR10USD1187B99F3F1' 0 189.57016]
['SOCIWDW12A8C13D406' 'Soul Deep' 'ARMJAGH1187FB546F3' 1969 148.03546]
['SOYMRWW12A6D4FAB14' 'The Moon And I (Ordinary Day Album Version)'
 'ARKFYS91187B98E58F' 0 267.7024]
['SOMJBYD12A6D4F8557' 'Keepin It Real (Skit)' 'ARD0S291187B9B7BF5' 0
 114.78159]
['SOQHXMF12AB0182363' 'Young Boy Blues' 'ARGSJW91187B9B1D6B' 0 218.77506]
['SONHOTT12A8C13493C' 'Something Girls' 'AR7G5I41187FB4CE6C' 1982 233.40363]
['SOFSOCN12A8C143F5D' 'Face the Ashes' 'ARXR32B1187FB57099' 2007 209.60608]
['SOXVLOJ12AB0189215' 'Amor De Cabaret' 'ARKRRTF1187B9984DA' 0 177.47546]
['SOUQQEA12A8C134B1B' 'High Tide' 'ARIG6O41187B988BDD' 0 228.5971]
['SOILPQQ12AB017E82A' 'Sohna Nee Sohna Data' 'AR1ZHYZ1187FB3C717' 0
 599.24853]
['SOHUOAP12A8AE488E9' 'Floating' 'ARD842G1187B997376' 1987 491.12771]
['SOMUYGI12AB0188633' 'La Culpa' 'ARL7K851187B99ACD2' 0 226.35057]
['SORAMLE12AB017C8B0' 'Auguri Cha Cha' 'ARHHO3O1187B989413' 0 191.84281]
['SOXLBJT12A8C140925' 'Caught In A Dream' 'ARYKCQI1187FB3B18F' 2004
 290.29832]
['SOWTBJW12AC468AC6E' 'Broken-Down Merry-Go-Round' 'ARQGYP71187FB44566' 0
 151.84934]
['SOZVMJI12AB01808AF' 'Synthetic Dream' 'ARNPAGP1241B9C7FD4' 0 165.69424]
['SOKEJEJ12A8C13E0D0' 'The Urgency (LP Version)' 'ARC43071187B990240' 0
 245.21098]
['SOBEBDG12A58A76D60' 'Kassie Jones' 'ARI3BMM1187FB4255E' 0 220.78649]
['SOBONFF12A6D4F84D8' 'Tonight Will Be Alright' 'ARIK43K1187B9AE54C' 1986
 307.3824]
['SOOLYAZ12A6701F4A6' 'Laws Patrolling (Album Version)'
 'AREBBGV1187FB523D2' 0 173.66159]
['SOGNCJP12A58A80271' 'Do You Finally Need A Friend' 'ARB29H41187B98F0EF'
 1972 342.56934]
['SONYPOM12A8C13B2D7' 'I Think My Wife Is Running Around On Me (Taco Hell)'
 'ARDNS031187B9924F0' 2005 186.48771]
['SOBBUGU12A8C13E95D' 'Setting Fire to Sleeping Giants'
 'ARMAC4T1187FB3FA4C' 2004 207.77751]
['SOGXHEG12AB018653E' 'It Makes No Difference Now' 'AR0RCMP1187FB3F427'
 1992 133.32853]
['SOBLGCN12AB0183212' 'James (Hold The Ladder Steady)' 'AR47JEX1187B995D81'
 1985 124.86485]
['SOZQDIU12A58A7BCF6' 'Superconfidential' 'ARNTLGG11E2835DDB9' 0 338.31138]
['SOVYKGO12AB0187199' 'Crazy Mixed Up World' 'ARH4Z031187B9A71F2' 1961
 156.39465]
['SOPSWQW12A6D4F8781' 'Made Like This (Live)' 'ARGIWFO1187B9B55B7' 0
 225.09669]
['SOZCTXZ12AB0182364' 'Setanta matins' 'AR5KOSW1187FB35FF4' 0 269.58322]
['SOLLHMX12AB01846DC' 'The Emperor Falls' 'AR1Y2PT1187FB5B9CE' 0 484.62322]
['SOBZBAZ12A6D4F8742' 'Spanish Grease' 'AROUOZZ1187B9ABE51' 1997 168.25424]
['SOYTPEP12AB0180E7B' 'Twist and Shout' 'ARAJPHH1187FB5566A' 1964 164.80608]
['SOGOSOV12AF72A285E' '¿Dónde va Chichi?' 'ARGUVEV1187B98BA17' 1997
 313.12934]
['SOZHPGD12A8C1394FE' 'Baby Come To Me' 'AR9AWNF1187B9AB0B4' 0 236.93016]
['SOMVWWT12A58A7AE05' 'Knocked Out Of The Park' 'ARQ9BO41187FB5CF1F' 0
 183.17016]
['SOTUKVB12AB0181477' 'Blessed Assurance' 'AR7ZKHQ1187B98DD73' 1993 270.602]
['SOTTDKS12AB018D69B' 'It Wont Be Christmas' 'ARMBR4Y1187B9990EB' 0
 241.47546]
['SODUJBS12A8C132150' 'Wessex Loses a Bride' 'ARI2JSK1187FB496EF' 0
 111.62077]
['SOQVMXR12A81C21483' 'Salt In NYC' 'ARKULSX1187FB45F84' 0 424.12363]
['SOPVXLX12A8C1402D5' 'Larger Than Life' 'AR3JMC51187B9AE49D' 1999
 236.25098]
['SOBBXLX12A58A79DDA' 'Erica (2005 Digital Remaster)' 'AREDBBQ1187B98AFF5'
 0 138.63138]
['SOQLGFP12A58A7800E' 'OAKtown' 'ARD7TVE1187B99BFB1' 0 259.44771]
['SOSLAVG12A8C13397F' 'Den Pai Alo' 'AROGWRA122988FEE45' 0 243.82649]
['SOAOIBZ12AB01815BE'
 'I Hold Your Hand In Mine [Live At Royal Albert Hall]'
 'ARPBNLO1187FB3D52F' 2000 43.36281]
['SOPEGZN12AB0181B3D' 'Get Your Head Stuck On Your Neck'
 'AREDL271187FB40F44' 0 45.66159]
['SOXILUQ12A58A7C72A' 'Jenny Take a Ride' 'ARP6N5A1187B99D1A3' 2004
 207.43791]
['SOOJPRH12A8C141995' 'Loaded Like A Gun' 'ARBGXIG122988F409D' 0 173.19138]
['SOTCKKY12AB018A141' 'Sonnerie lalaleulé hi houuu' 'ARGSAFR1269FB35070' 0
 29.54404]
['SOGVQGJ12AB017F169' 'Ten Tonne' 'AR62SOJ1187FB47BB5' 2005 337.68444]
['SOBAYLL12A8C138AF9' 'Sono andati? Fingevo di dormire'
 'ARDR4AC1187FB371A1' 0 511.16363]
['SOFFKZS12AB017F194' 'A Higher Place (Album Version)' 'ARBEBBY1187B9B43DB'
 1994 236.17261]
['SOFNOQK12AB01840FC' 'Kutt Free (DJ Volume Remix)' 'ARNNKDK1187B98BBD5' 0
 407.37914]
['SOBCOSW12A8C13D398' 'Rumba De Barcelona' 'AR7SMBG1187B9B9066' 0 218.38322]
['SOQOTLQ12AB01868D0' 'Clementina Santafè' 'ARGCY1Y1187B9A4FA5' 0 153.33832]
['SOBKWDJ12A8C13B2F3' 'Wild Rose (Back 2 Basics Mix)' 'AR36F9J1187FB406F1'
 0 230.71302]
['SOLEYHO12AB0188A85' 'Got My Mojo Workin' 'ARAGB2O1187FB3A161' 0 338.23302]
['SOUPIRU12A6D4FA1E1' 'Der Kleine Dompfaff' 'ARJIE2Y1187B994AB7' 0
 152.92036]
['SORRZGD12A6310DBC3' 'Harajuku Girls' 'ARVBRGZ1187FB4675A' 2004 290.55955]
['SOGDBUF12A8C140FAA' 'Intro' 'AR558FS1187FB45658' 2003 75.67628]
['SONWXQJ12A8C134D94' 'The Ballad Of Sleeping Beauty' 'ARNF6401187FB57032'
 1994 305.162]
['SONSKXP12A8C13A2C9' 'Native Soul' 'AR0IAWL1187B9A96D0' 2003 197.19791]
['SOLYIBD12A8C135045' 'Music is what we love' 'AR051KA1187B98B2FF' 0
 261.51138]
['SODAUVL12A8C13D184' 'Prognosis' 'ARWB3G61187FB49404' 2000 363.85914]
['SOSWKAV12AB018FC91' 'Midnight Star' 'ARULZCI1241B9C8611' 0 335.51628]
['SODREIN12A58A7F2E5' 'A Whiter Shade Of Pale (Live @ Fillmore West)'
 'ARLTWXK1187FB5A3F8' 0 326.00771]
['SOWQTQZ12A58A7B63E' 'Streets On Fire (Explicit Album Version)'
 'ARPFHN61187FB575F6' 0 279.97995]
['SOINLJW12A8C13314C' 'City Slickers' 'AR8IEZO1187B99055E' 2008 149.86404]
['SOFCHDR12AB01866EF' 'Living Hell' 'AREVWGE1187B9B890A' 0 282.43546]

In [11]:
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [12]:
# insert artist record
artist_datas = df.filter(items=['artist_id', 'artist_name', 'artist_latitude', 'artist_longitude','artist_location' ])
artist_datas = artist_datas.values.tolist()

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [13]:
song_files = get_files('./data/song_data/')
for file in song_files:
    #print(file)
    df = pd.read_json(file, lines=True)
    artist_datas = df.filter(items=['artist_id', 'artist_name', 'artist_latitude', 'artist_longitude','artist_location' ])
    artist_datas = artist_datas.values.tolist()
    for artist_data in artist_datas:
        try:
            cur.execute(artist_table_insert, artist_data)
        except Exception as e:
            print (e.pgerror)

In [14]:
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [15]:
log_files = get_files('./data/log_data/')
log_files[1]

'/home/workspace/data/log_data/2018/11/2018-11-11-events.json'

In [16]:
filepath = log_files[1]

In [17]:
df = pd.read_json(filepath, lines=True)
df.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69

In [18]:
df.shape

(95, 18)

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [19]:
df = df.loc[df['page'] == 'NextSong']
df.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69

In [20]:
df.shape

(73, 18)

In [21]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

0   2018-11-11 02:33:56.796
1   2018-11-11 02:36:10.796
2   2018-11-11 02:40:34.796
4   2018-11-11 04:36:13.796
5   2018-11-11 04:36:46.796
Name: ts, dtype: datetime64[ns]

In [22]:
time_data = (df['ts'],
             t.dt.hour,
             t.dt.day,
             t.dt.week,
             t.dt.month,
             t.dt.year,
             t.dt.weekday
            )
column_labels = ('timestamp',
                 'hour',
                 'day',
                 'week',
                 'month',
                 'year',
                 'weekday'
            )

In [23]:
time_df = pd.DataFrame.from_dict({ col:vals for col, vals in zip(column_labels,time_data)})
time_df.head()

       timestamp  hour  day  week  month  year  weekday
0  1541903636796     2   11    45     11  2018        6
1  1541903770796     2   11    45     11  2018        6
2  1541904034796     2   11    45     11  2018        6
4  1541910973796     4   11    45     11  2018        6
5  1541911006796     4   11    45     11  2018        6

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [24]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [25]:
user_df = df.filter(items=['userId', 'firstName', 'lastName','gender','level'])
user_df.head(3)

  userId firstName lastName gender level
0     69  Anabelle  Simpson      F  free
1     69  Anabelle  Simpson      F  free
2     69  Anabelle  Simpson      F  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [26]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [27]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (
        row.song,
        row.artist,
        row.length
    ))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None
        print('not found', (
            row.song,
            row.artist,
            row.length
        ))
        
    # insert songplay record
    songplay_data = (
        row.ts,
        row.userId,
        row.level,
        songid,
        artistid,
        row.sessionId,
        row.location,
        row.userAgent
    )
    try:
        cur.execute(songplay_table_insert, songplay_data)
    except Exception as e:
        print (e.pgerror)
        print(songplay_data)
    conn.commit()

not found ('Fuck Kitty', 'Frumpies', 134.47791)
not found ('By The Time This Night Is Over', 'Kenny G with Peabo Bryson', 264.75057)
not found ('God & Satan', 'Biffy Clyro', 189.83138)
not found ('Beautiful', 'HIM', 212.06159)
not found ('Supreme Balloon', 'Matmos', 1449.11628)
not found ('The One', 'Gary Allan', 259.83955)
not found ('Five Roses', 'Miracle Fortress', 200.9073)
not found ('Cuentale', 'Don Omar', 261.35465)
not found ("D'Evils", 'Jay-Z', 212.27057)
not found ('Easily (Album Version)', 'Red Hot Chili Peppers', 231.33995)
not found ('Rebels of the Sacred Heart', 'Flogging Molly', 361.9522)
not found ('Now_ Right Now', 'Reverend Horton Heat', 158.64118)
not found ('I Made A Resolution', 'Sea Wolf', 232.61995)
not found ('Lucky (Album Version)', 'Jason Mraz & Colbie Caillat', 189.6224)
not found ('Enough\x19s Enough', 'Jamie Lidell', 175.25506)
not found ('Mushaboom (Postal Service Mix)', 'Feist', 212.79302)
not found ("We're Going Out Tonight", 'Sex Slaves', 175.51628)
not found ('To Them These Streets Belong', 'Rise Against', 169.482)
not found ('Get Me Bodied', 'BeyoncÃ\x83Â©', 359.54893)
not found ('Never Leave Me Alone', 'Nate Dogg', 356.38812)
not found ('Love Story', 'Taylor Swift', 233.89995)
not found ('Sweet home Alabama', 'Lynyrd Skynyrd', 216.60689)
not found ('Caught Out There (Explicit)', 'Kelis', 293.58975)
not found ('Last Day Of Magic', 'The Kills', 203.38893)
not found ('What A Feeling', 'Collie Buddz featuring Paul Wall', 271.62077)
not found ('Fireflies', 'Charttraxx Karaoke', 225.17506)
not found ('The Funeral (Album Version)', 'Band Of Horses', 321.14893)
not found ('Clocks', 'Coldplay', 307.51302)
not found ('Have A Nice Day', 'Bon Jovi', 228.75383)
not found ('Alive (2006 Remastered Album Version)', 'P.O.D.', 203.7024)
not found ('Plans (Replanned by Mogwai)', 'Bloc Party', 222.04036)
not found ('Pa Pa Pa', 'Los Prisioneros', 211.12118)
not found ('Lots More Stairs', 'Octopus Project', 175.25506)
not found ('Ecoute Ce Scratch', 'Roudoudou', 18.41587)
not found ('Tierra Tradicional', 'Africando', 253.54404)
not found ('Simmons Incorporated', 'RUN-DMC Featuring Method Man_ Kenny Cash_ Mike Ransom_ and Jamel Simmons', 266.52689)
not found ("I'm Goin' Away", 'Graham Coxon', 197.14567)
not found ('In The Fade', 'Queens Of The Stone Age', 231.02649)
not found ('Strawberry AndrÃ\x83Â© (Album Version)', 'Dance Gavin Dance', 193.30567)
not found ('Eyes As Candles', 'Passion Pit', 243.69587)
not found ("Let's Get It Started", 'Black Eyed Peas', 229.61587)
not found ('Ca plane pour moi', 'Plastic Bertrand', 180.00934)
not found ('Strange Brew', 'Cream', 166.5824)
not found ('A Message', 'Coldplay', 284.39465)
not found ('Sweat the Battle Before the Battle Sweats You (Album Version)', 'Cute Is What We Aim For', 172.22485)
not found ('Of Wolf And Man', 'Metallica', 256.9922)
not found ('Tape Song', 'The Kills', 217.70404)
not found ('The Pretender', 'Foo Fighters', 271.38567)
not found ('Eyen [Chosen by fans on Warp20.net]', 'Plaid', 260.96281)
not found ("It's New To Me", 'The Van Pelt', 208.71791)
not found ('Make You Smile', '+44', 224.57424)
not found ('I May Never Find', 'Chris Brown', 275.1473)
not found ('Black Horse And The Cherry Tree (Radio Version)', 'KT Tunstall', 170.47465)
not found ('Kids In America', 'Cascada', 184.39791)
not found ('Black Heart Inertia', 'Incubus', 293.38077)
not found ('Black & Blue', 'Miike Snow', 220.83873)
not found ('Sala De RecepÃ\x83Â§Ã\x83Â£o', 'Cartola', 208.92689)
not found ('Commander In Thief', 'Kill The Client', 70.68689)
not found ('Woman', 'Wolfmother', 175.82975)
not found ('Wagon Wheel', 'Old Crow Medicine Show', 231.73179)
not found ('Debbie', 'Architecture In Helsinki', 173.73995)
not found ("I Think I'll Live", 'Charlie Louvin', 170.86649)
not found ('La Derrota de Un Don Juan', 'Miguel Morales', 270.78485)
not found ('Le Courage Des Oiseaux', 'Dominique A', 153.20771)
not found ('Run With The Blind', 'Cock Sparrer', 203.25832)
not found ('I Love You So Much It Hurts', 'Jimmy Wakely', 165.74649)
not found ('A Little Death Around the Eyes', 'Peter Doherty', 217.02485)
not found ('Thinking Of You', 'Katy Perry', 246.41261)
not found ('You Love Me Anyway (Album)', 'Sidewalk Prophets', 260.62322)
not found ('Torches', 'Rise Against', 221.17832)
not found ("Wavin'  Flag", "K'Naan", 220.49914)
not found ('Holiday', 'Patrick Jumpen', 208.87465)
not found ('Empire State Of Mind (Part II) Broken Down', 'Alicia Keys', 216.47628)

In [28]:
song_select

'\nSELECT song_id, songs.artist_id \nFROM songs JOIN artists ON artists.artist_id = songs.artist_id \nWHERE songs.title = %s\n AND  artists.name = %s\n AND  songs.duration = %s\n'

In [29]:
cur.execute(song_select, (
    'The Pretender',
    'Foo Fighters',
    271.38567
))

In [30]:
results = cur.fetchone()
results

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [31]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.